.car-list {
    .segment {
        color: $off-white;
        background-color: #000;
        border: 2px solid $dark-gray;
        padding: 1rem 4rem 2rem 4rem;
        font-size: 1.2rem;

        .header {
            color: $off-white;
        }

        @media only screen and (max-width: $tablet-breakpoint - 1) {
            padding: 1rem;
            margin: 0 -1rem;
            font-size: 1.1rem;
        }

        .past-maintenance-divider {
            @media only screen and (max-width: $tablet-breakpoint - 1) {
                margin-bottom: -1rem;
            }
        }
    }
}

.ui.modal {
    &.shared-users {
        .content {
            padding-left: 0.5rem !important;
        }
    }
    .header {
        padding: 0.75rem 1rem !important;
    }
    .content {
        padding: 0 !important;
    }
}

.shared-users {
    .list-container {
        margin: 0 0.5rem;

        .item-container {
            border-bottom: 1px solid $gray;
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            .item {
                position: relative;
                .user {
                    margin-left: 2rem;

                    div:first-of-type {
                        font-size: 1.1rem;
                    }
                    div:last-of-type {
                        font-size: 0.95rem;
                        color: $gray;
                    }
                }
                .delete {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }

        .new-shared-user-container {
            border-bottom: 1px solid $gray;
            padding-bottom: 0.5rem;

            &:focus-within {
                border-bottom: 1px solid $off-white;
            }
            .new-shared-user {
                position: relative;
                .input-container {
                    input {
                        padding-left: 2rem;
                        border: 0;
                        background: rgba(0, 0, 0, 0);
                        width: 100%;
                        height: 2.7rem;
                        color: $off-white;

                        &:focus {
                            outline: 0;
                        }
                    }
                }

                .add {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }

        .add, .delete {
            font-size: 1.3rem;
        }
    }
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0) !important;
}

.new-car-modal {
    transform: translateX(-125%);
    transition: transform 250ms ease-out;

    &.slide {
        transform: translateX(0);
    }
}
