@keyframes headerLoad {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.page-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    color: $off-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;

    animation: 500ms ease-out 0s 1 headerLoad;

    &::after {
        content: '';
        width: 100%;
        height: 5px;
        top: 70px;
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: 1.5rem;
        margin-left: 1rem;
        text-decoration: none;

        &:hover {
            color: inherit;
        }
    }

    .my-account {
        margin-right: 1rem;
    }
}

.account-popup-container {
    border: 2px solid $dark-gray !important;
    border-radius: 5 !important;
    padding: 1rem !important;
    background-color: $black !important;
    width: 50% !important;
    top: 65px !important;
    right: 5px !important;
    left: auto !important;
    
    opacity: 0;
    transition: opacity 250ms, transform 250ms ease-in-out;
    transform: translateX(100%) !important;

    &.fade {
        opacity: 100%;
        transform: translateX(0) !important;
    }

    .account-popup {
        text-align: right;
    
        button {
            width: 100%;
            line-height: .7rem !important;
        }
    
        .popup-row {
            margin-bottom: .5rem !important;
    
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}
