@keyframes homeLoginLoad {
    0% {
        transform: translateY(-160px);
    }
    100% {
        transform: translateY(0);
    }
}

.home {
    h1 {
        margin-top: 2rem;
        text-align: center;

        @media only screen and (max-width: $tablet-breakpoint - 1) {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
    }

    .home-login {
        animation: 1s ease-out 0s 1 homeLoginLoad;
        position: absolute;
        right: 0;
        
        h1 {
            text-align: right;
            display: inline;
            margin: 0 5rem 0 1rem;
            float: right;
        }

        .icon-holder {
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 0;
            padding-right: 1.6rem;
            display: inline;
            color: $blue;
            font-size: 2rem;

            i {
                margin-top: .4rem;
            }
        }
    }
}
