.maintenance-list {
    color: $off-white;
    font-size: 0.9rem !important;
    margin-bottom: 1rem;

    .ui.table, .ui.selectable.table {
        color: $light-gray;
        thead th {
            color: $gray !important;
        }
        tbody tr:hover {
            color: $white !important;
            background-color: $dark-gray-transparent !important;
        }

        tr {
            transition: all 100ms ease-in;
            &.yellow {
                background-color: $yellow-transparent;
                &:hover {
                    background-color: $yellow-transparent-hover !important;
                }
            }

            &.red {
                background-color: $red-transparent;
                &:hover {
                    background-color: $red-transparent-hover !important;
                }
            }

            // grabs all first children of parent (tr)
            &>*:first-child {
                padding-left: 1rem !important;
            }

            &>*:last-child {
                margin-right: 1rem;
            }
        }
    }

    .list-item {
        .header {
            margin-bottom: .5rem !important;
            font-size: 1.1rem !important;
        }
    }
}

.maintenance-detail-modal {
    &.ui.modal {
        .header {
            padding: 0 !important;

            @media only screen and (max-width: $tablet-breakpoint - 1) {
                padding: 1rem .75rem !important;
            }
        }
    }
    .ui.table {
        color: $off-white;
    }
    .content > button {
        margin-bottom: 1.5rem;
    }
}

.complete-item-form > div {
    margin-bottom: 1.5rem;
}

// Required to fix height issue in safari mobile
.date-input input {
    height: 38px;
}