body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    background-color: #000;
    color: $off-white;
    height: 100vh;

    a {
        color: inherit;
    }

    &::before {
        transition: background-color 250ms ease-in-out;
        content: '';
        background-color: rgba(0,0,0,0);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &.bodyFade::before {
        content: '';
        background-color: rgba(0,0,0,.85);
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &.z-10::before {
        z-index: 10;
    }
}

.page {
    top: 80px;
    position: absolute;
    width: 100%;
}

.cm-hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.basic-center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.full-width {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.flexbox-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-top-padding {
    padding-top: 0 !important;
}

.edit-car,
.add-maintenance {
    .submit-button {
        float: right;
        margin-right: 0;
    }
    .content > .form > .grid.container {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

.ui.button.round-button {
    line-height: 1.35rem;
    border-radius: 2rem;

    &.inverted.blue {
        border: 0.2rem solid $blue;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
    }
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.95);
}

@media only screen and (max-width: $tablet-breakpoint - 1) {
    .stacked-buttons {
        & > div {
            margin-top: 1rem !important;
    
            &:first-of-type {
                margin-top: inherit !important;
            }
        }
    }
}
