// Breakpoints
$mobile-breakpoint       : 320px;
$tablet-breakpoint       : 768px;
$computer-breakpoint     : 992px;
$largeMonitor-breakpoint : 1280px;
$wideMonitor-breakpoint  : 1920px;

// Colors
$white     : #ffffff;
$off-white : #eeebf5;
$blue      : #54c8ff;
$dark-gray : #242424;
$gray      : #888888;
$light-gray: #aaaaaa;
$black     : #000000;

$red-transparent            : rgba(255, 0, 0, .2);
$red-transparent-hover      : rgba(255, 0, 0, .25);
$yellow-transparent         : rgba(255, 255, 0, .2);
$yellow-transparent-hover   : rgba(255, 255, 0, .25);
$dark-gray-transparent      : rgba(255, 255, 255, .1);
